* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

.login::-webkit-input-placeholder ::-moz-placeholder :-ms-input-placeholder {
    /*text-align: center;*/
    /*color: white;*/
}

.login::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: white;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 55%;*/
}

.margin_vertical {
    margin: 20px 0;
}

.main_wraper {
    margin-top: 51px;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 51px);
}

.main_wraper::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 4px;
}

.main_wraper::-webkit-scrollbar {
    width: 6px;
}

.main_wraper::-webkit-scrollbar-corner {
    border-radius: 4px;
}

.main_wraper::-webkit-scrollbar-track-piece {
    background: rgba(134, 134, 134, 0.36);
    border-radius: 4px;
}

.text_overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content_wraper {
    /*flex: 1 0 auto;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1 0 auto;
    /*position: ;*/
}

.problem_container {
    background: #f5f5f5;
    width: 100%;
    border: 1px solid #b0b0b0;
}

.problem_btn_group {
    margin: 10px 0px;
}

.maincontent {
    display: flex;
    justify-content: center;
}

.error {
    float: right;
    font-weight: normal;
    font-size: 6px;
    color: red;
}

.login_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.login {
    background: transparent;
    text-align: center;
    margin: 1vw 2vw;
    font-size: 20px;
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    /*color: #337ab7;*/
    color: white;
    border-radius: 0px;
}

.login_button {
    /*height:4vh;*/
    border: none;
    border-radius: 3px;
    margin: 1vw 2vw;
    width: calc(100% - 3vw);
}

.margin_top {
    margin-top: 20px;
}

.margin_bottom {
    margin-bottom: 20px;
}

.margin_bottom_small{
    margin-bottom: 15px;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    padding:10px;
    flex: 0 0 auto;
    width: 100%;
    background: #f6f6f6;
}
.toolbar > button{
    margin: 0 20px;
}
.source_code_div {
    width: 100%;
    height: 400px;
    resize: none;
    border-radius: 3px
}

.shadow_bottom{
    box-shadow: 0 2px 6px #e9e9e9;
}

.table_div{
    width: 100%;
    margin-top: 40px;
    box-shadow: 1px 1px 4px #e9e9e9;
}

.form_div {
    position: relative;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #e9e9e9;
    margin-top: 40px;
    width: 100%;
    min-height: 500px;
    display: table;
    padding: 15px;
    padding-top: 0;
}

.form_submit_div {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.form_items_content{
    margin: 0 30px;
    flex: 0 0 auto;
}

.form_items_title {
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #b0b0b0;
}

.form_items_content_selecter{
    width: 150px;
}

.form_items_content_input{
    width: 200px;
}

.form_items_content_sm {
    width: 20%;
}

.form_items_content_md {
    width: 40%;
}

.form_items_textarea {
    resize: none;
    width: calc(100% - 60px);
    height: 300px;
}

.time_picker_div{
    display: flex;
    align-items: center;
}

.submit_div_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.textarea_sm {
    height: 70px;
}

.textarea_md {
    height: 200px;
}

.big_font {
    font-size: 25px;
    font-weight: bold;
}

.pre {
    white-space: pre-wrap;
    padding: 10px 15px;
}

.pointer {
    cursor: pointer;
}

.green td {
    background: #f1ffed;
}

.width_full {
    width: 100%;
}

.margin_RL{
    margin: 0 15px;
}