<div ng-controller="editProblemCtrl" class="content_div col-lg-8 col-md-8 col-sm-8 col-xs-12" ng-init="initData()">
    <!--<h2 class="margin_bottom">{{pageTitle}}</h2>-->
    <div class="form_div">
        <form novalidate name="problemForm" ng-submit="submit()">
            <h4 class="form_items_title">选择题目类型<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.problemType.$invalid && problemForm.submitted">此为必填项</span></h4>
            <select class="form-control form_items_content_selecter form_items_content" name="problemType" ng-model="problemType" ng-options="o.no as o.name for o in problemTypes" ng-change="changeModel(problemType)" required></select>

            <h4 class="form_items_title">选择题目归属课程<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.course.$invalid && problemForm.submitted">此为必填项</span></h4>
            <select class="form-control form_items_content_selecter form_items_content" name="course" ng-model="course" ng-options="o.no as o.name for o in courseList" required></select>

            <h4 class="form_items_title">选择题目分类<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.category.$invalid && problemForm.submitted">此为必填项</span></h4>
            <div class="form_items_content_input form_items_content input-group">
                <input type="text" class="form-control" name="category" ng-model="category" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        选择分类
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="a in categoryList" ng-click="bindingCategory(a)"><a>{{a}}</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>

            <h4 class="form_items_title">题目标题<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.title.$invalid && problemForm.submitted">此为必填项</span></h4>
            <input class="form-control form_items_content_input form_items_content" name="title" ng-model="title" required>

            <h4 class="form_items_title">题目描述<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.description.$invalid && problemForm.submitted">此为必填项</span></h4>
            <textarea class="form-control form_items_textarea form_items_content" name="description" ng-model="description" required></textarea>

            <h4 class="form_items_title">描述图片</h4>
            <div class="form_items_content">
                <input id="input-21" type="file" name="file" class="form-control form_items_md" accept="image/*" multiple>
            </div>

            <!--判断题-->
            <div ng-if="problemType === 1">
                <h4 class="form_items_title">答案是否正确<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.judge.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_content_selecter form_items_content" name="judge" ng-model="problem.judge" ng-options="o.val as o.dis for o in judgeArray" required></select>
            </div>
            <!--判断题-->

            <!--选择题-->
            <div ng-if="problemType === 2">
                <h4 class="form_items_title">选项数量<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.optionAmount.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_content_selecter form_items_content" name="optionAmount" ng-model="problem.optionAmount" ng-options="o for o in optionAmounts" ng-change="updateOptionArray(problem.optionAmount)" required></select>
                <div ng-repeat="i in optionArray">
                    <h4 class="form_items_title">选项{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['optionContent[{{$index}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <input class="form-control form_items_content_md form_items_content" name="optionContent[{{$index}}]" ng-model="optionContent[$index]" required>
                </div>
                <h4 class="form_items_title">正确选项<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.rightOption.$invalid && problemForm.submitted">此为必填项</span></h4>
                <select class="form-control form_items_content_selecter form_items_content" name="rightOption" ng-model="problem.rightOption" ng-options="o for o in optionArray" required></select>
            </div>
            <!--选择题-->

            <!--填空题-->
            <div ng-if="problemType === 3">
                <h4 class="form_items_title">填空数量<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.blankAmount.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_content_selecter form_items_content" name="blankAmount" ng-model="problem.blankAmount" ng-options="o for o in blankAmounts" ng-change="updateBlankArray(problem.blankAmount)" required></select>
                <div ng-repeat="i in blankArray">
                    <h4 class="form_items_title">代码段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{i - 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_md form_items_content" name="codeContent[{{i - 1}}]" ng-model="codeContent[i - 1]" required></textarea>

                    <h4 class="form_items_title">填空段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['blankContent[{{i - 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_sm form_items_content" name="blankContent[{{i - 1}}]" ng-model="blankContent[i - 1]" required></textarea>
                </div>
                <h4 class="form_items_title">代码段{{problem.blankAmount + 1}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{problem.blankAmount}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_md form_items_content" name="codeContent[{{problem.blankAmount}}]" ng-model="codeContent[problem.blankAmount]" required></textarea>
            </div>
            <!--填空题-->

            <!--改错题-->
            <div ng-if="problemType === 4">
                <h4 class="form_items_title">错误数量<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.errorAmount.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_content_selecter form_items_content" name="errorAmount" ng-model="problem.errorAmount" ng-options="o for o in errorAmounts" ng-change="updateErrorArray(problem.errorAmount)" required></select>
                <div ng-repeat="i in errorArray">
                    <h4 class="form_items_title">代码段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{i - 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_md form_items_content" name="codeContent[{{i - 1}}]" ng-model="codeContent[i - 1]" required></textarea>

                    <h4 class="form_items_title">错误段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['errorContent[{{i - 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_sm form_items_content" name="errorContent[{{i - 1}}]" ng-model="errorContent[i - 1]" required></textarea>

                    <h4 class="form_items_title">正确段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['rightContent[{{i - 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_sm form_items_content" name="rightContent[{{i - 1}}]" ng-model="rightContent[i - 1]" required></textarea>
                </div>
                <h4 class="form_items_title">代码段{{problem.errorAmount + 1}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{problem.errorAmount}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_md form_items_content" name="codeContent[{{problem.errorAmount}}]" ng-model="codeContent[problem.errorAmount]" required></textarea>
            </div>
            <!--改错题-->
            
            <!--编程题-->
            <div ng-if="problemType === 5" >
                <h4 class="form_items_title">输入描述<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.inputDes.$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_sm form_items_content" name="inputDes" ng-model="problem.inputDes" required></textarea>

                <h4 class="form_items_title">输出描述<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.outputDes.$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_sm form_items_content" name="outputDes" ng-model="problem.outputDes" required></textarea>
            </div>
            <!--编程题-->

            <div class="form_submit_div"><input type="submit" class="btn btn-success" value="{{submitContent}}"></div>
        </form>
    </div>
</div>
