<div ng-controller="editHomeworkCtrl" class="content_div" ng-init="initData()">
    <!--<h2 class="margin_bottom">{{pageTitle}}</h2>-->
    <div class="form_div">
        <form novalidate name="homeworkForm" ng-submit="submit()">
            <h4 class="form_items_title">作业标题<span class="error glyphicon glyphicon-exclamation-sign"
                                                   ng-show="homeworkForm.title.$invalid && homeworkForm.submitted">此为必填项</span>
            </h4>
            <div class="form_items_content">
                <input class="form-control form_items_content_md form_items" name="title" ng-model="title" required>
            </div>

            <h4 class="form_items_title">开始时间<span class="error glyphicon glyphicon-exclamation-sign"
                                                   ng-show="(homeworkForm.startDate.$invalid || homeworkForm.startTime.$invalid) && homeworkForm.submitted">格式错误或为空</span></h4>
            <div class="form_items_content">
                <div class="width_full time_picker_div">
                    <div class="col-md-6 col-sm-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="start.date" name="startDate"
                                   is-open="start.open" datepicker-options="dateOptions" required
                                   ng-click="toggleDate('start')"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="toggleDate('start')"><i
                                    style="line-height: 1.42857143 " class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>

                    <div class="col-md-6 col-sm-6" uib-timepicker ng-model="start.time" ng-change="change()" name="startTime"
                         hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
            </div>

            <h4 class="form_items_title">结束时间<span class="error glyphicon glyphicon-exclamation-sign"
                                                   ng-show="(homeworkForm.endDate.$invalid || homeworkForm.endTime.$invalid) && homeworkForm.submitted">格式错误或为空</span></h4>
            <div class="form_items_content">
                <div class="width_full time_picker_div">
                    <div class="col-md-6 col-sm-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="end.date" name="endDate"
                                   is-open="end.open" datepicker-options="dateOptions" required
                                   ng-click="toggleDate('end')"
                                   close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleDate('end')"><i
                                        style="line-height: 1.42857143 " class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="col-md-6 col-sm-6" uib-timepicker ng-model="end.time" ng-change="change()" name="endTime"
                         hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
            </div>

            <h4 ng-if="param.type === 'update'" class="form_items_title">题目列表</h4>
            <div ng-if="param.type === 'update'" class="form_items_content">
                <div class="toolbar">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="addProblem()"><span class="glyphicon glyphicon-plus"></span>添加题目</button>
                </div>
                <table class="table_div table table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-2 col-sm-2">编号</th>
                        <th class="col-xs-5 col-sm-5">标题</th>
                        <th class="col-xs-5 col-sm-5">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="a in problemList" ng-click="click(a)" class="pointer">
                        <td>{{$index + 1}} </td>
                        <td>{{a.title}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="updateProblem(a,$event)"><span class="glyphicon glyphicon-pencil"></span>修改</button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="deleteProblem(a,$event)"><span class="glyphicon glyphicon-trash"></span>删除</button>
                            <button type="button" ng-if="!a.hide" class="btn btn-sm btn-danger" ng-click="toggle(a,$event)"><span class="glyphicon glyphicon-eye-close"></span>隐藏</button>
                            <button type="button" ng-if="a.hide" class="btn btn-sm btn-success" ng-click="toggle(a,$event)"><span class="glyphicon glyphicon-eye-open"></span>显示</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form_submit_div"><input type="submit" class="btn btn-success" value="{{submitContent}}"></div>
        </form>
    </div>
</div>