<div ng-controller="newProblemCtrl" class="content_div col-lg-7 col-md-7 col-sm-7 col-xs-12" ng-init="initData()">
    <h2 class="title_h2">新建问题</h2>
    <div class="form_div">
        <form novalidate name="problemForm" ng-submit="submit()">
            <h4 class="form_items_title">选择题目类型<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.problemType.$invalid && problemForm.submitted">此为必填项</span></h4>
            <select class="form-control form_items_sm form_items" name="problemType" ng-model="problemType" ng-options="o.name for o in problemTypes" ng-change="changeModel(problemType)" required></select>
            <h4 class="form_items_title">题目标题<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.title.$invalid && problemForm.submitted">此为必填项</span></h4>
            <input class="form-control form_items_md form_items" name="title" ng-model="title" required>
            <h4 class="form_items_title">题目描述<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.description.$invalid && problemForm.submitted">此为必填项</span></h4>
            <textarea class="form-control form_items_textarea form_items" name="description" ng-model="description" required></textarea>
            <!--判断题-->
            <div ng-if="problemType.no === 1">
                <h4 class="form_items_title">答案是否正确<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.judge.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_sm form_items" name="judge" ng-model="judge" ng-change="change(judge)" required>
                    <option value="yes" selected>是</option>
                    <option value="no">否</option>
                </select>
            </div>
            <!--判断题-->

            <!--选择题-->
            <div ng-if="problemType.no === 2">
                <h4 class="form_items_title">选项数量<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.optionAmount.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_sm form_items" name="optionAmount" ng-model="optionAmount" ng-options="o for o in optionAmounts" ng-change="updateOptionArray(optionAmount)" required></select>
                <div ng-repeat="i in optionArray">
                    <h4 class="form_items_title">选项{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['optionContent[{{i}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <input class="form-control form_items_md form_items" name="optionContent[{{i}}]" ng-model="optionContent[i]" required>
                </div>
                <h4 class="form_items_title">正确选项<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.rightOption.$invalid && problemForm.submitted">此为必填项</span></h4>
                <select class="form-control form_items_sm form_items" name="rightOption" ng-model="rightOption" ng-options="o for o in optionArray" ng-change="change(judge)" required></select>
            </div>
            <!--选择题-->

            <!--填空题-->
            <div ng-if="problemType.no === 3">
                <h4 class="form_items_title">填空数量<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.blankAmount.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_sm form_items" name="blankAmount" ng-model="blankAmount" ng-options="o for o in blankAmounts" ng-change="updateBlankArray(blankAmount)" required></select>
                <div ng-repeat="i in blankArray">
                    <h4 class="form_items_title">代码段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{i}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_md form_items" name="codeContent[{{i}}]" ng-model="codeContent[i]" required></textarea>

                    <h4 class="form_items_title">填空段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['blankContent[{{i}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_sm form_items" name="blankContent[{{i}}]" ng-model="blankContent[i]" required></textarea>
                </div>
                <h4 class="form_items_title">代码段{{blankAmount + 1}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{blankAmount + 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_md form_items" name="codeContent[{{blankAmount + 1}}]" ng-model="codeContent[blankAmount + 1]" required></textarea>
            </div>
            <!--填空题-->

            <!--改错题-->
            <div ng-if="problemType.no === 4">
                <h4 class="form_items_title">错误数量<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.errorAmount.$invalid">此为必填项</span></h4>
                <select class="form-control form_items_sm form_items" name="errorAmount" ng-model="errorAmount" ng-options="o for o in errorAmounts" ng-change="updateErrorArray(errorAmount)" required></select>
                <div ng-repeat="i in errorArray">
                    <h4 class="form_items_title">代码段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{i}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_md form_items" name="codeContent[{{i}}]" ng-model="codeContent[i]" required></textarea>

                    <h4 class="form_items_title">错误段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['errorContent[{{i}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_sm form_items" name="errorContent[{{i}}]" ng-model="errorContent[i]" required></textarea>

                    <h4 class="form_items_title">正确段{{i}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['rightContent[{{i}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                    <textarea class="form-control form_items_textarea textarea_sm form_items" name="rightContent[{{i}}]" ng-model="rightContent[i]" required></textarea>
                </div>
                <h4 class="form_items_title">代码段{{errorAmount + 1}}<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm['codeContent[{{errorAmount + 1}}]'].$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_md form_items" name="codeContent[{{errorAmount + 1}}]" ng-model="codeContent[errorAmount + 1]" required></textarea>
            </div>
            <!--改错题-->
            
            <!--编程题-->
            <div ng-if="problemType.no === 5">
                <h4 class="form_items_title">输入描述<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.inputDes.$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_sm form_items" name="inputDes" ng-model="inputDes" required></textarea>

                <h4 class="form_items_title">输出描述<span class="error glyphicon glyphicon-exclamation-sign" ng-show="problemForm.outputDes.$invalid && problemForm.submitted">此为必填项</span></h4>
                <textarea class="form-control form_items_textarea textarea_sm form_items" name="outputDes" ng-model="outputDes" required></textarea>
            </div>
            <!--编程题-->

            <div class="form_submit_div"><input type="submit" class="btn btn-success" value="确认新建"></div>
        </form>
    </div>
</div>
